.card__image {
  height: 80px;
  box-sizing: border-box;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



@media (max-width: 1100px) {
  .card__image {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .card__image {
    height: 40px;
  }
}

@media (max-width: 550px) {
  .card__image {
    height: 25px;
  }
}
